<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Chiling Photo Collection</title>
  <link rel="stylesheet" type="text/css" media="screen" href="/statics/javascripts/photoslider/photoslider.css"/>
  <script type="text/javascript" src="/statics/javascripts/jquery.js"></script>
  <script type="text/javascript" src="/statics/javascripts/photoslider/photoslider.js"></script>
</head>
<body>
<h1 align="Center">jinyuan  Photo Collection</h1>

<ul>
  <li>
    <a href="/album/1"><img src="/statics/images/hp/hp-pavilion-dv4-girls-10_thumbnail.jpg" title="HP"/></a>
  </li>
</ul>

</body>
</html>